<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite"><test verbose="2" preserve-order="true" name="C:/Users/adenike.olapetan/IdeaProjects/Automation-Challenge/Amazon">
    <classes><class name="testcases.HomepageTest"></class>
        <class name="testcases.RestAssuredTest"></class>




    </classes></test></suite>